<div class="dropdown">
    <button class="btn btn-outline-primary m-1 btn-sm rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
    </button>
    <ul class="dropdown-menu rounded-4 p-1">
        <li><a class="dropdown-item" href="{{ path('app_post_show', {'id': post.id}) }}" >Voir</a></li>
        <li><a class="dropdown-item" href="{{ path('app_post_edit', {'id': post.id}) }}" >Modifier</a></li>
        <li><a class="dropdown-item bg-danger rounded-pill text-light" href="{{ path('app_post_delete', {'id': post.id}) }}">Supprimer</a></li>
    </ul>
</div>