{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-5">Modifier le commentaire
			<span class="badge rounded-pill text-bg-success">
				{{ comment.id }}
			</span>
		</h1>
		{{ include('comment/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

		<a href="{{ path('app_comment_index') }}" class="btn btn-secondary m-1 btn-sm rounded-pill">Retour</a>

		{{ include('comment/_delete_form.html.twig') }}
	</div>
{% endblock %}
