{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-5">Ajouter une nouvelle catégorie</h1>

		{{ include('category/_form.html.twig') }}

		<a href="{{ path('app_category_index') }}" class="btn btn-secondary m-1 rounded-pill">Retour</a>
	</div>
{% endblock %}
