{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-5">Ajouter une ville</h1>

		{{ include('city/_form.html.twig') }}

		<a href="{{ path('city_index') }}">Retour</a>
	</div>
{% endblock %}
