<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Hey_Voisin, le Back-Office Officiel.
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{ asset('img/LogoHeyVoisinNoBG.png') }}">
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}"></head>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
	<body class="container">
		{% include 'nav/nav2.html.twig' %}
		{% block body %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
	</body>
</html>
