<form method="post" action="{{ path('app_avatar_delete', {'id': avatar.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avatar ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avatar.id) }}">
    <button class="btn btn-danger m-1 btn-sm rounded-pill">Supprimer</button>
</form>
