{% extends 'base.html.twig' %}

{% block title %}Index des publications | Hey, voisin !
{% endblock %}

{% block body %}
	<div class="flex justify-center items-center h-full">
		<div class="max-h-80 w-full max-w-screen-md bg-blue-300 rounded-xl">

			{% include "fragments/_flash_message.html.twig" %}

			<h1 class="">Index des publications
				<a href="{{ path('app_post_new') }}" class="">Ajouter une publication</a>
			</h1>
	
					{% for post in pagination %}
						<div class="flex flex-row bg-gray-50 rounded-xl m-3">
							<div>
								<img class="h-24" src="{{ asset('img/post.jpg') }}" alt="Image de publication">
							</div>
							<div>
								<h3> {{ post.title }} </h3>
								<p>{{ post.category.name }}</p>
							</div>
						</div>
					{% else %}
						{% include "fragments/_no_entry_message.html.twig" %}
					{% endfor %}
	
				</tbody>
			</table>
		</div>

	{% include "fragments/_pagination.html.twig" %}

	</div>
{% endblock %}
