{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-5 bg-secondary bg-gradient rounded-5 p-3 text-light text-center">Modifier l'utilisateur
			<span class="badge rounded-pill text-bg-success">
				{{ user.id }}
			</span>
		</h1>

		{{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

		<a href="{{ path('app_user_index') }}" class="btn btn-secondary m-1 btn-sm rounded-pill">Retour</a>

		{{ include('user/_delete_form.html.twig') }}
	</div>
{% endblock %}
