{% block nav %}
	<nav class="navbar navbar-expand-lg bg-success-subtle bg-gradient rounded-bottom-4 py-4">
		<div class="container-fluid">
			<a class="navbar-brand fw-bold p-3 fs-2" href="#">Hey_Voisin, le Back-Office</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active fw-bold" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bg-danger-subtle rounded-pill fw-bold" href="#">Déconnexion</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}
